.bg{
    @apply relative w-full h-[80vh] sm:h-screen ;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    color: white;
    
}
.bg::after{
    content: '';
    @apply absolute z-20 bg-opacity-45 w-full h-full bottom-0 ;
    height: 50%;
  /* backdrop-filter: blur(1px);  */
  background: linear-gradient(to top, rgba(99, 99, 99, 0.9), transparent);

}
/* .bg::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%; 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    pointer-events: none;
    z-index: 10;
  } */
.wrap::after{
    content: '';
    position: absolute;
    bottom: 0;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #166534); */
    height: 50vh;
    width: 100%;
    /* @apply sm:h-[80%] */

}